.chart-gender-container {
  padding-top: 1em;
  width: 50%;

  margin: 0 auto;
}
h1 {
  color: #262a41;
  text-align: center;
}

.pie-chart{
  width: auto;
}

@media(max-width: 800px){
  .chart-gender-container{
    width: 80%;
  }
}