.chart-country-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 1.5em;
  min-width: 500px;
}
h1 {
  color: #262a41;
}
.polar-chart {
  width: 600px;
}

@media (max-width: 500px) {
  .polar-chart {
    width: 500px;
  }
  .chart-country-container {
    padding-top: 2em;
    padding-bottom: 1em;
  }
}
