.chart-country-container {
  padding-top: 1em;
  width: 55%;
  margin: 0 auto;
}
h1 {
  color: #262a41;
}
.polar-chart{
  height: auto;
  width: auto;
}
@media(max-width: 450px){
  .chart-country-container{
    width: 100%;
  }
}
@media(max-width: 1100px){
  .chart-country-container{
    width: 90%;
  }
}