.dashboard-container {
  display: flex;
  flex-direction: row;
}
.dashboard-body {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  width: 100%;
}

/* Ajusta contenido para responsividad */
@media (max-width: 500px) {
  .dashboard-container {
    flex-direction: column;
    margin-top: 10em;
  }
}
