.chart-age-container {
  padding-top: 1em;
  width: 90%;
  margin: 0 auto;
}
h1 {
  color: #262a41;
}
.bar-chart{
  width: auto;
}

@media(max-width: 768px){
  .chart-age-container{
    width: 90%;
  }
}